<!doctype html>
<html dir="ltr" lang="en-US">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="BlackHedge proprietary trading firm. Forex, digital currencies, stocks and bonds.">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Stylesheets
  ========================================================================== -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />

	<!-- Javascript
	========================================================================== -->
	<script src="js/main.js"></script>

	<!-- Document Title
	========================================================================== -->
	<title>BlackHedge</title> <!-- Add "/ About" etc. later) -->
</head>  

<body class="stretched">
	<!-- DOCUMENT WRAPPER
	========================================================================== -->
	<div id="wrapper" class="clearfix"> <!-- Removed id="wrapper" for now -->

	<!-- HEADER 
	========================================================================== -->
		<header id="header" class="full-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

				<!-- LOGO
				==================================================================== -->
				<div id="logo">
					<a href="/" class="standard-logo" data-dark-logo="img/blackhedge-light.png"><img src="img/blackhedge-light.png" alt="BlackHedge Logo"></a>
					<a href="/" class="retina-logo" data-dark-logo="img/blackhedge-light@2x.png"><img src="img/blackhedge-light@2x.png" alt="BlackHedge Logo"></a>
				</div>

				<!-- NAVBAR
				==================================================================== -->
				<nav id="primary-menu">
					<ul>
					    <li><a href="/"><div>Home</div></a>
					    <li><a href="/about"><div>About Us</div></a>
					    <li><a href="/tech"><div>Technology</div></a>
					    <li><a href="/contact"><div>Contact</div></a>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- MAIN
	========================================================================== -->

	<%- body %>

	<!-- FOOTER
	========================================================================== -->
	<footer id="footer" class="dark">
		
			<!-- COPYWRITE AND SOCIAL
			====================================================================== -->
		<div id="copyrights">
			<div class="container clearfix">
				<div class="col_half">
					<img src="img/footer-logo4.png" alt="" class="footer-logo">
					&copy; 2017 All Rights Reserved by Runic Era Capital.
				</div>
				<div class="col_half col_last tright">
					<div class="copyrights-menu copyright-links fright clearfix">
						<a href="/">Home</a>/<a href="about">About Us</a>/<a href="tech">Technology</a>/<a href="/contact">Contact</a>
					</div>
				</div>
				<div class="fright clearfix">
					<a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>
					<a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>
					<a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>
					<a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
				</div>
			</div>

		</div><!-- #copyrights end -->

	</footer><!-- #footer end -->
</div>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>