<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('img/slider/john-towner-128480.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

	<div class="container clearfix">
		<h1>About Us</h1>
		<span>Everything you need to know about our Company</span>
	</div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="col_one_third text-center">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Vision</span>.</h4>
				</div>

				<p>To tie the link between new and old systems and provide an opportunity for all to be involved globally around the clock.</p>

			</div>

			<div class="col_one_third text-center">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Mission</span>.</h4>
				</div>

				<p>To refine working with the right people and developments to ensure we achieve a high standard of success.</p>

			</div>

			<div class="col_one_third col_last text-center">

				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Technology</span>.</h4>
				</div>

				<p>To build and use the latest technology to ensure we can accurately spot and take advantage of developing markets and systems.</p>

			</div>

		</div>
	</div>
</section>

<div class="section nomargin">
	<div class="container clearfix">

		<div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
			<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
			<div class="counter counter-lined"><span data-from="0" data-to="300" data-refresh-interval="50" data-speed="2500"></span>K+</div>
			<h5>Assets Under Management</h5>
		</div>

		<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
			<i class="fa fa-exchange fa-5x" aria-hidden="true"></i>
			<div class="counter counter-lined"><span data-from="0" data-to="14" data-refresh-interval="100" data-speed="2500"></span></div>
			<h5>Exchanges Trading On</h5>
		</div>

		<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
			<i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
			<div class="counter counter-lined"><span data-from="0" data-to="9" data-refresh-interval="25" data-speed="2500"></span>%</div>
			<h5>Average Monthly Growth</h5>
		</div>

		<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
			<i class="fa fa-users fa-5x" aria-hidden="true"></i>
			<div class="counter counter-lined"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="2500"></span>+</div>
			<h5>Active Clients</h5>
		</div>

	</div>
</div>

<!-- 4 PILLARS, ETHICAL, PROFITABLE, RICK MANAGEABLE, STEADY GROWTH -->