<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('img/slider/john-towner-128480.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

	<div class="container clearfix">
		<h1>About Us</h1>
		<span>Everything you need to know about our Company</span>
	</div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">
	<div class="row topmargin-lg nobottommargin">
		<div class="heading-block center">
			<h2>Our Four Pillar Philosophy</h2>
			<span class="divcenter">At Runic Era Capital, we were founded by like-minded individuals whom are driven by our core philosophy.</span>
		</div>
	</div>
	<div class="container clearfix bottommargin-lg">
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-globe fa-5x" aria-hidden="true"></i>
				</div>
				<h3>Ethical<span class="subtitle">We will never back anything that can cause gross harm to others.</span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="i-alt noborder icon-wallet"></i>
				</div>
				<h3>Profitable<span class="subtitle">We endeavor to ensure our strategies deliver positive growth.</span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
				</div>
				<h3>Risk Manageable<span class="subtitle">We strive to ensure that the equity is manageable at all times.</span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin col_last">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-arrow-circle-up fa-5x" aria-hidden="true"></i>
				</div>
				<h3>Steady Growth<span class="subtitle">We safeguard to have a progressive incline on our growth, safely.</span></h3>
			</div>
		</div>
	</div>
</section>