<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Contact</h1>
		<span>Get in Touch with Us</span>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Contact</li>
		</ol>
	</div>

</section><!-- #page-title end -->

<!-- Contact Form & Map Overlay Section
============================================= -->
<section id="map-overlay">

	<div class="container clearfix">

		<!-- Contact Form Overlay
		============================================= -->
		<div id="contact-form-overlay" class="clearfix">
			<% if (success.length > 0) { %>
			<div class="alert alert-success"><%= success %></div>
			<% } %>

			<div class="fancy-title title-dotted-border">
				<h3>Send us an Email</h3>
			</div>

			<div class="contact-widget">

				<div class="contact-form-result"></div>

				<!-- Contact Form
				============================================= -->
				<form class="nobottommargin" id="contactform" name="contactform" action="/contact" method="POST">

					<div class="col_half">
						<label for="contactformname">Name <small>*</small></label>
						<input maxlength="32" type="text" id="contactformname" name="contactformname" value="" class="sm-form-control required" />
					</div>

					<div class="col_half col_last">
						<label for="contactformemail">Email <small>*</small></label>
						<input maxlength="254" type="email" id="contactformemail" name="contactformemail" value="" class="required email sm-form-control" />
					</div>

					<div class="clear"></div>

					<div class="col_half">
						<label for="contactformphone">Phone</label>
						<input maxlength="16" type="text" id="contactformphone" name="contactformphone" value="" class="sm-form-control" />
					</div>

					<div class="col_half col_last">
						<label for="contactformservice">Context <small>*</small></label>
						<select id="contactformservice" name="contactformservice" class="required sm-form-control">
							<option value="">-- Select One --</option>
							<option value="General Information">General Information</option>
							<option value="Investment Inquery">Investment Inquery</option>
							<option value="Employement Opening">Employment Opening</option>
							<option value="Other">Other</option>
						</select>
					</div>

					<div class="clear"></div>

					<div class="col_full">
						<label for="contactformsubject">Subject <small>*</small></label>
						<input maxlength="16" type="text" id="contactformsubject" name="contactformsubject" value="" class="required sm-form-control" />
					</div>

					<div class="col_full">
						<label maxlength="" for="contactformmessage">Message <small>*</small></label>
						<textarea class="required sm-form-control" id="contactformmessage" name="contactformmessage" rows="6" cols="30"></textarea>
						<p><small>Max 500 characters</small></p>
					</div>

					<div class="col_full hidden">
						<input type="text" id="contactformbotcheck" name="contactformbotcheck" value="" class="sm-form-control" />
					</div>

					<div class="col_full">

<!-- 						<script src="https://www.google.com/recaptcha/api.js" async defer></script>
						<div class="g-recaptcha" data-sitekey="6Lea5hgUAAAAAGAJKedhxYdidYagYtfRHM-H0p1x"></div> -->

					</div>

					<div class="col_full">
						<button class="button button-3d nomargin" type="submit" id="contactformsubmit" name="contactformsubmit" value="submit">Send Message</button>
<!-- 						<a href="/contact" class="button button-border button-rounded button-fill button-teal" type="submit" id="contactformsubmit" name="contactformsubmit" value="submit"><span>Send Message</span></a> -->
					</div>

				</form>
			</div>


<!-- 			<div class="line"></div> -->

			<!-- Contact Info
			============================================= -->
<!-- 			<div class="col_one_third nobottommargin">

				<address>
					<strong>Headquarters:</strong><br>
					795 Folsom Ave, Suite 600<br>
					San Francisco, CA 94107<br>
				</address>
				<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
				<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
				<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com

			</div> --><!-- Contact Info End -->
		</div>
	</div>
</section>