<section id="slider" class="slider-parallax swiper_wrapper clearfix">
	<div class="slider-parallax-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">A DIFFERENT HEDGE</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">A proprietary trading firm specialising in investments made with digital currencies.</p>
						</div>
					</div>
					<div class="video-wrap full-screen force-full-screen with-header">
						<video id="slide-video" poster="img/vid/the-alley.jpg" preload="auto" loop autoplay muted>
							<source src='img/vid/the-alley.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
							<source src='img/vid/the-alley.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">IDEAS WORTHWHILE</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Always looking for an edge, we use and develop the latest technology.</p>
						</div>
					</div>
					<div class="video-wrap full-screen force-full-screen with-header">
						<video id="slide-video" poster="img/vid/dancing-bulbs.jpg" preload="auto" loop autoplay muted>
							<source src='img/vid/dancing-bulbs.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
							<source src='img/vid/dancing-bulbs.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">16 YEARS OF TRADES</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Both a CMT and CFA, the head fund manager has 16 years of qualified trading experience with an excellent track record.</p>
						</div>
					</div>
					<div class="video-wrap full-screen force-full-screen with-header">
						<video id="slide-video" poster="img/vid/push-the-buttons.jpg" preload="auto" loop autoplay muted>
							<source src='img/vid/push-the-buttons.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
							<source src='img/vid/push-the-buttons.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
			</div>
			<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
		</div>
		<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
	</div>
</section>

<!-- Main Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="col_one_third text-center">
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Vision</span>.</h4>
				</div>
				<p>To tie the link between new and old systems and provide an opportunity for all to be involved globally around the clock.</p>
			</div>
			<div class="col_one_third text-center">
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Mission</span>.</h4>
				</div>
				<p>To refine working with the right people and developments to ensure we achieve a high standard of success.</p>
			</div>
			<div class="col_one_third col_last text-center">
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Technology</span>.</h4>
				</div>
				<p>To build and use the latest technology to ensure we can accurately spot and take advantage of developing markets and systems.</p>
			</div>
		</div>
	</div>
	<div class="section nomargin">
		<div class="container clearfix">
			<div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
				<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="300" data-refresh-interval="50" data-speed="2500"></span>K+</div>
				<h5>Assets Under Management</h5>
			</div>
			<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
				<i class="fa fa-exchange fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="14" data-refresh-interval="100" data-speed="2500"></span></div>
				<h5>Exchanges Trading On</h5>
			</div>
			<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
				<i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="9" data-refresh-interval="25" data-speed="2500"></span>%</div>
				<h5>Average Monthly Growth</h5>
			</div>
			<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
				<i class="fa fa-users fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="2500"></span>+</div>
				<h5>Active Clients</h5>
			</div>
		</div>
	</div>
</section>

<!-- About Us
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('img/slider/john-towner-128480.jpg'); padding: 120px 0;" data-stellar-background-ratio="0.3">
	<div class="container clearfix">
		<h1>About Us</h1>
		<span>Everything you need to know about Runic Era Capital</span>
	</div>
</section>

<!-- History Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="section notopborder nomargin header-stick">
			<div class="container clearfix">
				<div class="heading-block">
					<h2>History &amp; Background</h2>
					<span>From point of conception and forward...</span>
				</div>
				<blockquote class="col_one_fourth">
					<h3>Teamwork divides the task &amp; multiplies the success.</h3>
				</blockquote>
				<div class="col_three_fourth col_last">
					<p>From first conception and being established privately in 2015 as Phoenix Capital by two likeminded colleagues and good friends, Sujoy Siker and Joshua J. Bouw, Phoenix has has now been rebranded as Runic Era Capital as of March 2017, after 2 years of success. 
					<br><br>
					Both Sujoy and Joshua aim to ensure this venture is worthwhile for all those involved. Driven by their common goal to not only work towards developing tools for Runic Era Capital's own use, they aim to also open source the technology by releasing tools for other developers to freely use. 
					<br><br>
					With a successful track record, both recorded and verifiable in the Foreign Exchange markets, the projected goal to develop a team of participants and investors will ensure Runic Era Capital's positioning and competitiveness in the global markets.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Four Pillars
============================================= -->
<section id="content">
	<div class="row topmargin-md nobottommargin">
		<div class="heading-block center">
			<h2>Our Four Pillar Philosophy</h2>
			<span class="divcenter">At Runic Era Capital, we were founded by like-minded individuals whom are driven by our core philosophy.</span>
		</div>
	</div>
	<div class="container clearfix bottommargin-lg">
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-globe fa-5x" aria-hidden="true"></i>
				</div>
				<h3>Ethical<span class="subtitle">We will never back anything that can cause gross harm to others.</span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="i-alt noborder icon-wallet"></i>
				</div>
				<h3>Profitable<span class="subtitle">We endeavor to ensure our strategies deliver positive growth.</span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
				</div>
				<h3>Risk Manageable<span class="subtitle">We strive to ensure that the equity is manageable at all times.</span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin col_last">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-arrow-circle-up fa-5x" aria-hidden="true"></i>
				</div>
				<h3>Steady Growth<span class="subtitle">We safeguard to have a progressive incline on our growth, safely.</span></h3>
			</div>
		</div>
	</div>
</section>