<!-- Home Slider
============================================= -->
<section id="slider" class="slider-parallax swiper_wrapper clearfix">
	<div class="slider-parallax-inner">
		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">A DIFFERENT HEDGE</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">A proprietary trading firm specialising in investments made with digital currencies.</p>
						</div>
					</div>
					<div class="video-wrap full-screen force-full-screen with-header">
						<video id="slide-video" poster="img/vid/the-alley.jpg" preload="auto" loop autoplay muted>
							<source src='img/vid/the-alley.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
							<source src='img/vid/the-alley.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">IDEAS WORTHWHILE</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Always looking for an edge, we use and develop the latest technology.</p>
						</div>
					</div>
					<div class="video-wrap full-screen force-full-screen with-header">
						<video id="slide-video" poster="img/vid/dancing-bulbs.jpg" preload="auto" loop autoplay muted>
							<source src='img/vid/dancing-bulbs.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
							<source src='img/vid/dancing-bulbs.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
				<div class="swiper-slide dark">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">16 YEARS OF TRADES</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Both a CMT and CFA, the head fund manager has 16 years of qualified trading experience with an excellent track record.</p>
						</div>
					</div>
					<div class="video-wrap full-screen force-full-screen with-header">
						<video id="slide-video" poster="img/vid/push-the-buttons.jpg" preload="auto" loop autoplay muted>
							<source src='img/vid/push-the-buttons.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
							<source src='img/vid/push-the-buttons.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
					</div>
				</div>
			</div>
			<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
		</div>
		<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
	</div>
</section>

<!-- Main Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="col_one_third text-center">
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Vision</span>.</h4>
				</div>
				<p>To tie the link between new and old systems and provide an opportunity for all to be involved globally around the clock.</p>
				<a href="#" class="button button-border button-rounded button-fill button-teal"><span>Learn More</span></a>
			</div>
			<div class="col_one_third text-center">
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Mission</span>.</h4>
				</div>
				<p>To refine working with the right people and developments to ensure we achieve a high standard of success.</p>
				<a href="#" class="button button-border button-rounded button-fill button-teal"><span>Apply Now</span></a>
			</div>
			<div class="col_one_third col_last text-center">
				<div class="heading-block fancy-title nobottomborder title-bottom-border">
					<h4>Our <span>Technology</span>.</h4>
				</div>
				<p>To build and use the latest technology to ensure we can accurately spot and take advantage of developing markets and systems.</p>
				<a href="#" class="button button-border button-rounded button-fill button-teal"><span>Learn More</span></a>
			</div>
		</div>
	</div>
</section>