<section id="slider" class="slider-parallax" style="background-size: cover;" data-height-lg="670" data-height-md="500" data-height-sm="400" data-height-xs="250" data-height-xxs="200">
	<div class="slider-parallax-inner">
		<div class="swiper-wrapper">
			<div class="swiper-slide dark">
				<div class="container clearfix">
					<div class="vertical-middle center">
						<div class="heading-block nobottomborder center">
							<h1>
								<div class="text-rotater" data-separator="|" data-rotate="flipInX" data-speed="3500">
									We make tech <span class="t-rotate">Customisable|Flexible|Scalable|Profitable</span>
								</div>
							</h1>
						</div>
					</div>
				</div>
				<div class="video-wrap full-screen force-full-screen with-header">
					<video id="slide-video" poster="img/vid/Hello-World.jpg" preload="auto" loop autoplay muted>
						<source src='img/vid/Hello-World.webm' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
						<source src='img/vid/Hello-World.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
					</video>
					<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
				</div>
			</div>
		</div>
	</div>
</section>