<!-- Technology
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding-top: 0px; padding-bottom: 0px">
	<div class="section dark nomargin noborder" style="height: 323px; padding-top: 100px;">
		<div class="container clearfix">
			<h1>
			<div class="text-rotater" data-separator="|" data-rotate="flipInX" data-speed="3500">
				We make tech <span class="t-rotate">Customisable|Flexible|Scalable|Profitable</span>
			</div>
		</h1>
		<span>From point of development to deployment...</span>
		</div>
		<div class="video-wrap">
			<video poster="img/Hello-World.jpg" preload="auto" loop autoplay muted>
				<source src='img/Hello-World.web' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
				<source src='img/Hello-World.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
			<div class="video-overlay"></div>
		</div>
	</div>
</section>