<head>
	<!-- Document Title
	========================================================================== -->
	<title>Technology / Runic Era Capital</title>
</head>

<!-- Technology
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding-top: 0px; padding-bottom: 0px">
	<div class="section dark nomargin noborder" style="height: 323px; padding-top: 100px;">
		<div class="container clearfix">
			<h1>
			<div class="text-rotater" data-separator="|" data-rotate="flipInX" data-speed="3500">
				We make tech <span class="t-rotate">Customisable|Flexible|Scalable|Profitable</span>
			</div>
		</h1>
		<span>From point of development to deployment...</span>
		</div>
		<div class="video-wrap">
			<video poster="img/hello-world.jpg" preload="auto" loop autoplay muted>
				<source src='img/hello-world.web' type='video/webm' />Your browser does not support the video tag. I suggest you upgrade your browser.
				<source src='img/hello-world.mp4' type='video/mp4' />Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
			<div class="video-overlay"></div>
		</div>
	</div>
</section>

<section id="content">
	<div class="content-wrap nobottompadding">
		<div class="section notopborder nomargin header-stick">
			<div class="container clearfix">
				<div class="col_three_fifth">
					<div class="heading-block">
						<h3>BLACKHEDGE</h3>
						<span>Tying the digital currency world to real tangible markets.</span>
					</div>
					<p>Instead of relying on 3rd party websites that don't have the resources to accurately display client details for digital currencies, BlackHedge will aim to bring those private details into our backroom for accurate reporting and record taking for ease of use and ultimate privacy.</p>
						<a href="#">Coming soon &rarr;</a>
				</div>
				<div class="col_two_fifth topmargin col_last">
					<img src="img/tech/blackhedge-intro.png" alt="BlackHedge Intro">
				</div>
				<h3>Progress</h3>
				<ul class="skills">
					<li data-percent="80">
						<span>Planning</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
					<li data-percent="0">
						<span>Development</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="0" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
					<li data-percent="0">
						<span>Testing</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="0" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
					<li data-percent="0">
						<span>Production</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="0" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
				</ul>
					<div class="divider"></div>
					<div class="col_three_fifth">
						<div class="heading-block">
							<h3>RUNE LEDGER</h3>
							<span>Proper digital currency portfolio tools.</span>
						</div>
						<p>After being discouraged at the rather lack of tools for portfolio tracking for digital currencies, we have set off to build our own. This will come about in phases as we we aim to have a full suite of functional tools that will be comparible to the best.</p>
						<a href="#">Coming soon &rarr;</a>
					</div>
					<div class="col_two_fifth topmargin col_last">
						<img src="img/tech/rune-intro.png" alt="BlackHedge Intro">
					</div>
				<h3>Progress</h3>
				<ul class="skills">
					<li data-percent="25">
						<span>Planning</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="25" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
					<li data-percent="0">
						<span>Development</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="0" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
					<li data-percent="0">
						<span>Testing</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="0" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
					<li data-percent="0">
						<span>Production</span>
						<div class="progress">
							<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="0" data-refresh-interval="30" data-speed="1100"></span>%</div></div>
						</div>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</section>